<h2>Registrar producto</h2>

<form #newUser="ngForm" (ngSubmit)="onSubmit(newProducto)">

	<p>
		<label for="name">Nombre Producto</label>
		<input type="text" name="name" #name="ngModel" [(ngModel)]="new_producto.name" required/>
		<span *ngIf="name.touched && !name.valid">

	</p>

	<p>
		<label for="price">Precio</label>
		<input type="text" name="price" #job="ngModel" [(ngModel)]="new_producto.price" required/>
	</p>

	<input type="submit" value="Guardar producto" [disabled]="!newProducto.form.valid"> 
</form>


